{% extends 'Dashboard/base.html' %}
{% block title_block %} Customers {% endblock %}

{% block content %}

<div class="main-content app-content">
    <div class="container-fluid">

        <div class="page-header">
            <h1 class="page-title my-auto">Customer Registration Form</h1>
            <div class="page-header-breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0);"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"></path><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"></path></svg>
                            <span class="breadcrumb-icon"> Forms</span>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0);">Form Elements</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Inputs</li>
                </ol>
            </div>
        </div>

        <!-- Success and Error Messages -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form action="{% url 'customer_register' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header justify-content-between d-sm-flex d-block">
                            <div class="card-title">
                               register customers here
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row gy-4">
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                    <label for="input-name" class="form-label text-uppercase">Customer Name</label>
                                    <input type="text" class="form-control text-uppercase" id="input-name" name="name" placeholder="Enter Name" value="{{ form.name.value|default:'' }}" required>
                                    {% if form.name.errors %}
                                        <div class="alert alert-danger">{{ form.name.errors|striptags }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                    <label for="input-number" class="form-label text-uppercase">Customer Number</label>
                                    <input type="number" class="form-control" id="input-number" name="phone" placeholder="Number" value="{{ form.phone.value|default:'' }}" required>
                                    {% if form.phone.errors %}
                                        <div class="alert alert-danger">{{ form.phone.errors|striptags }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                    <label for="input-ref-name" class="form-label">Reference Name</label>
                                    <input type="text" class="form-control" id="input-ref-name" name="reference_name" placeholder="Reference Name" value="{{ form.reference_name.value|default:'' }}" required>
                                    {% if form.reference_name.errors %}
                                        <div class="alert alert-danger">{{ form.reference_name.errors|striptags }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                    <label for="input-ref-number" class="form-label">Reference Number</label>
                                    <input type="number" class="form-control" id="input-ref-number" name="reference_phone" placeholder="Reference Number" value="{{ form.reference_phone.value|default:'' }}" required>
                                    {% if form.reference_phone.errors %}
                                        <div class="alert alert-danger">{{ form.reference_phone.errors|striptags }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row gy-">
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                    <label for="input-submit" class="form-label"></label>
                                    <input type="submit" class="form-control btn-primary" id="input-submit" value="Register">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

{% endblock %}
