{% extends 'Dashboard/base.html' %}
{% block title_block %} Customers {% endblock %}

{% block content %}
 <!-- Start::app-content -->
 <div class="main-content app-content">
    <div class="container-fluid">

        <!-- PAGE-HEADER -->
        <div class="page-header">
          <h1 class="page-title my-auto">Customers List</h1>
        </div>
        <!-- PAGE-HEADER END -->

        <!-- Start:: row-1 -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <!-- Search functionality -->
                            <form action="{% url 'customers' %}" method="get" class="input-group w-50">
                                <input type="text" class="form-control" placeholder="Search by customer name, phone or Email" name="query">
                                <button class="btn btn-outline-secondary" type="submit">Search</button>
                            </form>
                            <!-- Add button -->
                            <a href="{% url 'customer_register' %}" class="btn btn-primary btn-sm">
                                <i class="ri-add-fill"></i> Add New Customer
                            </a>
                        </div>

                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap w-100" id="userlist-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Selection</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Reference Name</th>
                                        <th scope="col">Reference Phone</th>
                                        <th scope="col">Registered At</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for customer in page_obj %}
                                    <tr>
                                        <td><input type="checkbox" class="form-check-input" value="{{ customer.id }}"></td>
                                        <td>{{ customer.name }}</td>
                                        <td>{{ customer.phone }}</td>
                                        <td>{{ customer.reference_name }}</td>
                                        <td>{{ customer.reference_phone }}</td>
                                        <td>{{ customer.created_at|date:"d-m-Y" }}</td>
                                        <td class="align-middle">
                                            <div class="btn-group align-top">
                                                <a href="{% url 'customer_update' customer.id %}" class="btn btn-sm btn-outline-light btn-svg" role="button">
                                                    <i class="ri-edit-line"></i> Edit
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Pagination -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                {% endif %}
                                
                                {% for num in page_obj.paginator.page_range %}
                                    {% if page_obj.number == num %}
                                        <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End::app-content -->
{% endblock %}
