{% extends 'Dashboard/base.html' %}
{% block title_block %} Suppliers {% endblock %}

{% block content %}
 <!-- Start::app-content -->
 <div class="main-content app-content">
    <div class="container-fluid">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <h1 class="page-title my-auto">Suppliers List</h1>
        </div>
        <!-- PAGE-HEADER END -->

        <!-- Start:: row-1 -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <!-- Display Messages -->
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} mt-2">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <!-- Search functionality -->
                            <form action="{% url 'suppliers_list' %}" method="get">
                                <div class="input-group w-50">
                                    <input type="text" class="form-control" placeholder="Search supplier by name or email" aria-label="Search" name="query" value="{{ query }}">
                                    <button class="btn btn-outline-secondary btn-sm btn-lg" type="submit" id="button-search">Search</button>
                                </div>
                            </form>
                            
                            <!-- Add button -->
                            <a href="{% url 'supplier_register' %}" class="btn btn-primary btn-sm">
                                <i class="ri-add-fill"></i> Add New Supplier
                            </a>  
                        </div>
                        
                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap w-100" id="userlist-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Selection</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Registered At</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for supplier in page_obj %}
                                    <tr>
                                        <td><input type="checkbox" class="form-check-input" value="{{ supplier.id }}"></td>
                                        <td>{{ supplier.name }}</td>
                                        <td>{{ supplier.created_at|date:"d-m-Y" }}</td>
                                        <td class="align-middle">
                                            <div class="btn-group align-top">
                                                <a href="{% url 'supplier_update' supplier.id %}" class="btn btn-sm btn-outline-light btn-svg" role="button">
                                                    <i class="ri-edit-line"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                        <!-- Pagination -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-end">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&query={{ query }}">Previous</a>
                                    </li>
                                {% endif %}
                                {% for num in page_obj.paginator.page_range %}
                                    <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}&query={{ query }}">{{ num }}</a>
                                    </li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&query={{ query }}">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- End::app-content -->
{% endblock %}
