{% extends 'Dashboard/base.html' %}
{% block title_block %} User Registration {% endblock %}

{% block content %}
<div class="main-content app-content">
    <div class="container-fluid">
        <div class="page-header">
            <h1 class="page-title my-auto">User Registration Form</h1>
            <div class="page-header-breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0);">
                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                                <path d="M0 0h24v24H0V0z" fill="none"></path>
                                <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"></path>
                                <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"></path>
                            </svg>
                            <span class="breadcrumb-icon"> Home</span>
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">User Registration</li>
                </ol>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form action="{% url 'user_register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header justify-content-between d-sm-flex d-block">
                            <div class="card-title">
                                Registration Details
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Display general form errors (non-field errors) -->
                            {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label">Username</label>
                                    <input type="text" name="username" class="form-control" placeholder="Username" required>
                                    {% if form.username.errors %}
                                        <div class="alert alert-danger">{{ form.username.errors|striptags }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">First Name</label>
                                    <input type="text" name="first_name" class="form-control" placeholder="first Name" required>
                                    {% if form.first_name.errors %}
                                        <div class="alert alert-danger">{{ form.first_name.errors|striptags }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Last Name</label>
                                    <input type="text" name="last_name" class="form-control" placeholder="Last Name" required>
                                    {% if form.last_name.errors %}
                                        <div class="alert alert-danger">{{ form.last_name.errors|striptags }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Email</label>
                                    <input type="text" name="email" class="form-control" placeholder="enter email here" required>
                                    {% if form.email.errors %}
                                        <div class="alert alert-danger">{{ form.email.errors|striptags }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label">Password</label>
                                    <input type="password" name="password1" class="form-control" placeholder="Password" required>
                                    {% if form.password1.errors %}
                                        <div class="alert alert-danger">{{ form.password1.errors|striptags }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Confirm Password</label>
                                    <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required>
                                    {% if form.password2.errors %}
                                        <div class="alert alert-danger">{{ form.password2.errors|striptags }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label">Employee (Optional)</label>
                                    <select name="employee" class="form-select">
                                        <option value="" selected disabled>Select Employee</option>
                                        {% for employee in form.fields.employee.queryset %}
                                            <option value="{{ employee.id }}">{{ employee.name }}</option>
                                        {% endfor %}
                                    </select>
                                    {% if form.employee.errors %}
                                        <div class="alert alert-danger">{{ form.employee.errors|striptags }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" name="is_admin" id="is_admin">
                                <label class="form-check-label" for="is_admin">
                                    Admin
                                </label>
                            </div>                            
                            <!-- Form Submission -->
                            <div class="row">
                                <div class="col-12 d-flex justify-content-start">
                                    <button type="submit" class="btn btn-primary me-2">Register</button>
                                    <button type="button" class="btn btn-secondary">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
