{% extends 'Dashboard/base.html' %}
{% block title_block %}Groups{% endblock %}

{% block content %}
<div class="main-content app-content">
    <div class="container-fluid">
        <div class="page-header">
            <h1 class="page-title my-auto">Groups List</h1>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="card-body">
                        
                        <div class="mb-3 d-flex justify-content-between">
                            <form action="{% url 'manage_groups' %}" method="get" class="input-group w-50">
                                <input type="text" class="form-control" placeholder="Search by group name" name="query" value="{{ query }}">
                                <button class="btn btn-outline-secondary" type="submit">Search</button>
                            </form>
                            <a href="{% url 'create_group' %}" class="btn btn-primary btn-sm">
                                <i class="ri-add-fill"></i> Add New Group
                            </a>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap w-100" id="groups-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Group Name</th>
                                        <th scope="col">Permissions</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for group in page_obj %}
                                    <tr>
                                        <td>{{ group.name }}</td>
                                        <td>
                                            <ul>
                                                <!-- {% for perm in group.permissions.all %}
                                                    <li>{{ perm.name }}</li>
                                                {% endfor %} -->
                                            </ul>
                                        </td>
                                        <td class="align-middle">
                                            <a href="{% url 'edit_group_permissions' group.id %}" class="btn btn-sm btn-outline-primary" role="button">
                                                <i class="ri-shield-keyhole-line"></i> Manage Permissions
                                            </a>                                                                                          
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&query={{ query }}" tabindex="-1">Previous</a>
                                        </li>
                                    {% endif %}
                                    
                                    {% for num in page_obj.paginator.page_range %}
                                        {% if num == page_obj.number %}
                                            <li class="page-item active" aria-current="page">
                                                <span class="page-link">{{ num }}</span>
                                            </li>
                                        {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ num }}&query={{ query }}">{{ num }}</a>
                                            </li>
                                        {% elif num == 1 or num == page_obj.paginator.num_pages %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ num }}&query={{ query }}">{{ num }}</a>
                                            </li>
                                        {% elif num == page_obj.number|add:-3 or num == page_obj.number|add:3 %}
                                            <li class="page-item">
                                                <span class="page-link">...</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}&query={{ query }}">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
