{% extends 'Dashboard/base.html' %}
{% load static %}  <!-- Load static to use in the template if needed -->

{% block title_block %}Employee Registration{% endblock %}

{% block content %}
<div class="main-content app-content">
    <div class="container-fluid">
        <div class="page-header">
            <h1 class="page-title">Employee Registration Form</h1>
            
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <!-- Form to submit employee registration -->
        <form action="{% url 'register_employee' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="name" class="form-label text-uppercase">Name</label>
                    <input type="text" class="form-control text-uppercase" id="name" name="name" >
                    {% if form.name.errors %}
                        <div class="alert alert-danger">
                            {{ form.name.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <label for="address" class="form-label text-uppercase">Address</label>
                    <input type="text" class="form-control text-uppercase" id="address" name="address" >
                    {% if form.address.errors %}
                        <div class="alert alert-danger">
                            {{ form.address.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <label for="phone" class="form-label text-uppercase">Phone</label>
                    <input type="tel" class="form-control text-uppercase" id="phone" name="phone" >
                    {% if form.phone.errors %}
                        <div class="alert alert-danger">
                            {{ form.phone.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="salary" class="form-label text-uppercase">Salary</label>
                    <input type="number" class="form-control text-uppercase" id="salary" name="salary" step="0.01">
                    {% if form.salary.errors %}
                        <div class="alert alert-danger">
                            {{ form.salary.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <label for="title" class="form-label text-uppercase">Title</label>
                    <input type="text" class="form-control text-uppercase" id="title" name="title" >
                    {% if form.title.errors %}
                        <div class="alert alert-danger">
                            {{ form.title.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <label for="profile_photo" class="form-label text-uppercase">Profile Photo</label>
                    <input type="file" class="form-control text-uppercase" id="profile_photo" name="profile_photo" accept="image/png, image/jpeg">
                    {% if form.profile_photo.errors %}
                        <div class="alert alert-danger">
                            {{ form.profile_photo.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary text-uppercase">Register Employee</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
