{% extends 'Dashboard/base.html' %}
{% block title_block %} Employee List {% endblock %}

{% block content %}
<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <h1 class="page-title my-auto">Employee List</h1>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <!-- PAGE-HEADER END -->

        <!-- Start:: row-1 -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <!-- Search functionality -->
                            <form action="{% url 'employee_list' %}" method="get" class="input-group w-50">
                                <input type="text" class="form-control" placeholder="Search employees" name="search" value="{{ request.GET.search }}">
                                <button class="btn btn-outline-secondary" type="submit">Search</button>
                            </form>
                            <!-- Add button -->
                            <a href="{% url 'register_employee' %}" class="btn btn-primary btn-sm">
                                <i class="ri-add-fill"></i> Add New Employee
                            </a>
                        </div>

                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap w-100 text-uppercase" id="employee-list-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Date of Joining</th>
                                        <th scope="col">Salary</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for employee in page_obj %}
                                    <tr>
                                        <td>{{ employee.name }}</td>
                                        <td>{{ employee.address }}</td>
                                        <td>{{ employee.created_at|date:"d-m-Y" }}</td>
                                        <td>${{ employee.salary }}</td>
                                        <td>{{ employee.phone }}</td>
                                        <td>{{ employee.user.username }}</td>
                                        <td class="align-middle">
                                            <a href="{% url 'employee_update' employee.id %}" class="btn btn-sm btn-outline-secondary">
                                                <i class="ri-edit-line"></i> Edit
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <!-- Pagination -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&query={{ query }}" tabindex="-1">Previous</a>
                                    </li>
                                {% endif %}
                                
                                {% for num in page_obj.paginator.page_range %}
                                    {% if num == page_obj.number %}
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">{{ num }}</span>
                                        </li>
                                    {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ num }}&query={{ query }}">{{ num }}</a>
                                        </li>
                                    {% elif num == 1 or num == page_obj.paginator.num_pages %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ num }}&query={{ query }}">{{ num }}</a>
                                        </li>
                                    {% elif num == page_obj.number|add:-3 or num == page_obj.number|add:3 %}
                                        <li class="page-item">
                                            <span class="page-link">...</span>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&query={{ query }}">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- End:: row-1 -->
    </div>
</div>
<!-- End::app-content -->
{% endblock %}
