{% extends 'Dashboard/base.html' %}
{% block title_block %} Update Ticket {% endblock %}

{% block content %}
<div class="main-content app-content">
    <div class="container-fluid">
        <div class="page-header">
            <h1 class="page-title my-auto text-uppercase">Update Ticket Booking</h1>
            
            <div class="page-header-breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0);">
                            <i class="ri-home-4-line"></i> Dashboard
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Update Ticket</li>
                </ol>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form action="{% url 'update_tickets' ticket.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-uppercase">Edit Ticket Details</h3>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label for="select-airline" class="form-label text-uppercase">Airline</label>
                            <select class="form-select text-uppercase" id="select-airline" name="supplier" required>
                                <option value="">Select Airline</option>
                                {% for supplier in suppliers %}
                                    <option value="{{ supplier.id }}" {% if ticket.supplier.id == supplier.id %} selected {% endif %}>
                                        {{ supplier.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="row gy-4">
                        <div class="col-md-1">
                            <label class="form-label text-uppercase">Age</label>
                            <select class="form-select text-uppercase" name="age_category" required>
                                <option value="ADT" {% if ticket.age_category == 'ADT' %}selected{% endif %}>Adult</option>
                                <option value="CHD" {% if ticket.age_category == 'CHD' %}selected{% endif %}>Child</option>
                            </select>
                        </div>
                        
                        <div class="col-md-2">
                            <label class="form-label text-uppercase">PNR</label>
                            <input type="text" class="form-control text-uppercase" name="pnr" value="{{ ticket.pnr }}">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label text-uppercase">Passenger Name</label>
                            <input type="text" class="form-control text-uppercase" name="passenger_name" value="{{ ticket.passenger_name }}">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label text-uppercase">Travel Date</label>
                            <input type="date" class="form-control text-uppercase" name="travel_date" value="{{ ticket.travel_date|date:'Y-m-d' }}" required>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label text-uppercase">Fare</label>
                            <input type="number" class="form-control text-uppercase" name="fare" value="{{ ticket.fare }}">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label text-uppercase">Commission</label>
                            <input type="number" class="form-control text-uppercase" name="commission" value="{{ ticket.commission }}">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label text-uppercase">Tax</label>
                            <input type="number" class="form-control text-uppercase" name="tax" value="{{ ticket.tax }}">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label text-uppercase">Sell fare</label>
                            <input type="number" class="form-control text-uppercase" name="sell_fare" value="{{ ticket.sell_fare }}">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label text-uppercase">From</label>
                            <select class="form-select text-uppercase" name="from_city" required>
                                <option value="">Select City</option>
                                {% for city in city %}
                                    <option value="{{ city.id }}" {% if ticket.from_city.id == city.id %} selected {% endif %}>
                                        {{ city.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label text-uppercase">Destination</label>
                            <select class="form-select text-uppercase" name="destination" required>
                                <option value="">Select Destination</option>
                                {% for city in city %}
                                    <option value="{{ city.id }}" {% if ticket.destination.id == city.id %} selected {% endif %}>
                                        {{ city.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label text-uppercase">Back To</label>
                            <select class="form-select text-uppercase" name="back_to">
                                <option value="">Select City</option>
                                {% for city in city %}
                                    <option value="{{ city.id }}" {% if ticket.back_to.id == city.id %} selected {% endif %}>
                                        {{ city.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label text-uppercase">Phone</label>
                            <input type="tel" class="form-control text-uppercase" name="phone" value="{{ ticket.phone }}">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label text-uppercase">Status</label>
                            <select class="form-select text-uppercase" name="status">
                                {% for value, name in form.fields.status.choices %}
                                    <option value="{{ value }}" {% if value == form.instance.status %}selected{% endif %}>
                                        {{ name }}
                                    </option>
                                {% endfor %}
                            </select>                            
                        </div>
                        <div class="col-md-3">
                            <label class="form-label text-uppercase">Customer</label>
                            <select class="form-select text-uppercase" name="customer">
                                <option value="">Select Customer</option>
                                {% for customer in customers %}
                                    <option value="{{ customer.id }}" {% if ticket.customer.id == customer.id %} selected {% endif %}>
                                        {{ customer.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                      
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary text-uppercase">Update</button>
                            <button type="button" class="btn btn-secondary ml-2 text-uppercase">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
