{% extends 'Dashboard/base.html' %}
{% block title_block %}Asset Management{% endblock %}

{% block content %}
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <h1 class="page-title my-auto">Asset List</h1>
        </div>
        <!-- PAGE-HEADER END -->

        <!-- Start:: row-1 -->
        <div class="row">
            <div class="col-12">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <!-- Search functionality -->
                            <form action="{% url 'list_assets' %}" method="get" class="input-group w-50">
                                <input type="text" class="form-control" placeholder="Search by asset name, purchase date, or user" name="query">
                                <button class="btn btn-outline-secondary" type="submit">Search</button>
                            </form>
                            <!-- Add button -->
                            <a href="{% url 'register_asset' %}" class="btn btn-primary btn-sm">
                                <i class="ri-add-fill"></i> Add New Asset
                            </a>
                        </div>

                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap w-100" id="assetlist-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Asset Name</th>
                                        <th scope="col">Purchase Date</th>
                                        <th scope="col">Purchase Price</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">who registered</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for asset in assets %}
                                    <tr>
                                        <td>{{ asset.asset_name }}</td>
                                        <td>{{ asset.purchase_date|date:"Y-m-d" }}</td>
                                        <td>$ {{ asset.purchase_price }}</td>
                                        <td>{{ asset.description }}</td>
                                        <td>{{ asset.user.username }}</td>
                                        <td class="align-middle">
                                            <div class="btn-group align-top">
                                                <a href="{% url 'update_asset' asset.id %}" class="btn btn-sm btn-outline-light btn-svg" role="button">
                                                    <i class="ri-edit-line"></i> Edit
                                                </a>                                                                                          
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End:: row-1 -->
    </div>
</div>
{% endblock %}
