{% extends 'Dashboard/base.html' %}
{% block title_block %} Invoice List {% endblock %}

{% block content %}
<div class="main-content app-content">
    <div class="container-fluid">

        <!-- PAGE-HEADER -->
        <div class="page-header">
            <h1 class="page-title my-auto">Invoice List</h1>
            <div class="page-header-breadcrumb">
                
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0);">
                            <i class="fe fe-home"></i>&nbsp;Dashboard
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0);">Invoices</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Invoice List</li>
                </ol>
            </div>
        </div>
        <!-- PAGE-HEADER END -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <!-- Start:: row-1 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <!-- Search functionality -->
                            <div class="mb-3 d-flex justify-content-between">
                                <div class="col mb-4">
                                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#invoiceModal"><i class="fe fe-plus"></i> Add New Invoice</a>
                                    <div class="modal fade" id="invoiceModal" tabindex="-1" aria-labelledby="invoiceModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="invoiceModalLabel">Add New Invoice</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="btn-group-vertical w-100">
                                                        <a href="{% url 'incomplete_transactions' %}" class="btn btn-primary">Complete Payment</a>
                                                        <a href="{% url 'select_customer' %}" class="btn btn-secondary">New Payment</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-auto mb-4">
                                    <form action="{% url 'invoice_list' %}" method="get" class="input-group w-50">
                                        <input type="text" class="form-control" placeholder="Search invoice by number or customer" name="query" aria-label="Search Invoices">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="submit">
                                                <i class="fe fe-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap w-100 text-uppercase" id="invoice-list">
                                <thead>
                                    <tr>
                                        <th scope="col">Invoice No</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Generate Date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Customer</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for invoice in page_obj %}
                                    <tr id="invoice-{{ invoice.id }}">
                                        <td>{{ invoice.reference_number }}</td>
                                        <td>${{ invoice.total_amount }}</td>
                                        <td>{{ invoice.transaction_date|date:"Y-m-d" }}</td>
                                        <td>
                                            <span class="badge {% if invoice.status == 'paid' %}bg-success{% elif invoice.status == 'pending' %} bg-danger {% else %}bg-warning{% endif %}">
                                                {{ invoice.status|upper }}
                                            </span>
                                        </td>
                                        <td>{{ invoice.customer.name }}</td>
                                        <td>
                                            <div class="">
                                                <a href="javascript:void(0)" class="btn btn-light btn-sm" data-bs-toggle="dropdown" aria-expanded="false">Options <i class="fa fa-angle-down"></i></a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="{% url 'view_invoice' invoice.id %}"><i class="fe fe-eye me-2 d-inline-flex"></i> View</a>
                                                    <a class="dropdown-item" href="{% url 'edit_transaction' invoice.id %}"><i class="fe fe-edit me-2 d-inline-flex"></i> Edit</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>



                        <!-- Pagination -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&query={{ query }}" tabindex="-1">Previous</a>
                                    </li>
                                {% endif %}
                                
                                {% for num in page_obj.paginator.page_range %}
                                    {% if num == page_obj.number %}
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">{{ num }}</span>
                                        </li>
                                    {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ num }}&query={{ query }}">{{ num }}</a>
                                        </li>
                                    {% elif num == 1 or num == page_obj.paginator.num_pages %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ num }}&query={{ query }}">{{ num }}</a>
                                        </li>
                                    {% elif num == page_obj.number|add:-3 or num == page_obj.number|add:3 %}
                                        <li class="page-item">
                                            <span class="page-link">...</span>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&query={{ query }}">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- End:: row-1 -->
    </div>
</div>
{% endblock %}

{% block extra_script%}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



{%endblock%}