{% extends 'Dashboard/base.html' %}
{% block title_block %} Visa Bookings {% endblock %}
{% load static %}

{% block content %}
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <h1 class="page-title my-auto">Visa Bookings List</h1>
        </div>
        <!-- PAGE-HEADER END -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <!-- Start:: row-1 -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <!-- Search functionality -->
                            <form action="{% url 'visa_bookings_list' %}" method="get" class="input-group w-50">
                                <input type="text" class="form-control" placeholder="Search by customer name or country" name="query">
                                <button class="btn btn-outline-secondary" type="submit">Search</button>
                            </form>
                            <!-- Add button -->
                            <a href="{% url 'visa_booking_register' %}" class="btn btn-primary btn-sm">
                                <i class="ri-add-fill"></i> Add New Visa Booking
                            </a>
                        </div>

                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap w-100" id="visalist-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Applicant Name</th>
                                        <th scope="col">Country</th>
                                        <th scope="col">Age Group</th>
                                        <th scope="col">Nationality</th>
                                        <th scope="col">Issue Date</th>
                                        <th scope="col">Visa Fee</th>
                                        <th scope="col">Commission</th>
                                        <th scope="col">Total Cost</th>
                                        <th scope="col">Visa status</th>
                                        <th scope="col">Photo</th>
                                        <th scope="col">Passport Copy</th>
                                        <th scope="col">Customer or Reference Name</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for visa in page_obj %}
                                    <tr>
                                        <td>{{ visa.customer.name }}</td>
                                        <td>{{ visa.country }}</td>
                                        <td>{{ visa.age_group }}</td>
                                        <td>{{ visa.nationality }}</td>
                                        <td>{{ visa.departure_date|date:"d-m-Y" }}</td>
                                        <td>{{ visa.visa_fee }}</td>
                                        <td>{{ visa.commission }}</td>
                                        <td>{{ visa.total_cost }}</td>
                                        <td>{{ visa.status|title }}</td>
                                        <td>
                                            {% if visa.photo %}
                                                <a href="{{ visa.photo.url }}" download="VisaPhoto_{{ visa.id }}">
                                                    <img src="{{ visa.photo.url }}" class="avatar avatar-rounded avatar-md" alt="Photo">
                                                </a>
                                            {% else %}
                                                <span>No photo available</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if visa.passport_photo %}
                                                <a href="{{ visa.passport_photo.url }}" download="PassportPhoto">Download</a>
                                            {% else %}
                                                <span>No passport photo available</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ visa.customer.name }}</td>
                                        <td>
                                            <a href="{% url 'update_visa_bookings' visa.id %}" class="btn btn-sm btn-outline-light">
                                                <i class="ri-edit-line"></i> Edit
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Pagination -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&query={{ query }}">Previous</a>
                                    </li>
                                {% endif %}
                                {% for num in page_obj.paginator.page_range %}
                                    <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}&query={{ query }}">{{ num }}</a>
                                    </li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&query={{ query }}">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- End:: row-1 -->
    </div>
</div>
{% endblock %}
